/.env
/public/images/*.jpg
/public/diploms/*.jpg
/public/prod_images/*.jpg
/public/diploms/*.png
/public/analyzes/*.jpg
/public/materials/*.jpg
/public/analyzes/*.pdf
/public/images/*.png
/public/materials/*.pdf