body{
    padding: 0%;
    margin: 0%;
    /* font-family: 'Dancing Script', cursive; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}
.text-start{
    text-align: start;
}
.fs19{
    font-size: 19px;
}
.meeting_block{
    
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
@media (max-width:1000px){
    .meeting_block{
        flex-wrap: wrap; 
    }
}
.meet-right{
align-self: end;
max-width: 400px;
}
.meeti{
    width: auto;
}
.meeting{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.input-nj{
    width: 100%;
    height: 100%;
}
.border-b{
    border-bottom:1px dotted black;
}
.mes_count{
    border-radius: 40%;
    color: white;
    background-color: rgb(205, 50, 50);
    font-size: small;
}
.flash-div{
    border:2px solid #a3cfbb;
    z-index: 1000;
    border-radius: 20px;
    position: fixed;
    font-weight: bold;
    font-size: large;
    background-color: #d1e7dd;
    padding: 50px;
    color: green;
    top: 35%;
    left: 40%;
}
.first{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
.second{
    flex:1 0 auto;
}
#footer{
    margin-top: auto;
    background-color: #f6ece5;
    width: 100%;
    min-height: 70px;
}
.nj{
    border: 1px solid black;
    table-layout: fixed;
    width: 100%;
}
.nj td,th{
    border: 1px solid black;
    padding: 5px;
}
.tbl{
    table-layout: fixed;
    width: 100%;
}
.anketa{
    border-bottom: 1px solid rgb(167, 166, 166);
}
.chat-bg{
    background-image: url(../images/bg_nutri.jpeg);
    background-size: cover;
}

.button-outline{
    color:black;
    border-color: black;
    border-radius: 5px;
}
.ms-my_mes_container{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    max-width: 50%;
    /* border: 1px solid black; */
}
.opponent-name{
    display: flex;
    align-self: flex-end;
    width: fit-content;
    max-width: 50%;
    /* border: 1px solid black; */
}
.ms-opponent_mes_container{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    width: fit-content;
    max-width: 50%;
    /* border: 1px solid black; */
}

.ms-my_message{
    border: 1px solid #040404;
    background-color: #b8d390;
}
.ms-opponent_message{
    border: 1px solid #dedddd;
    background-color: #6f8e41;
    color:#dedddd;
}
.is_not_read{
    border-color: #000000;
}
.ms-message_block{
    border-radius: 5px;
    /* border: 1px solid black; */
    width: fit-content;
    overflow-wrap: break-word;
    word-break: break-all;
    margin: 4px;
    padding: 8px;
}
.ms-chat_input{
    border: 1px solid #4d4d4d;
    border-radius: 10px;
    flex-grow: 4;
    margin: 4px;
    padding: 8px;
}
.ms-chat_submit{
    flex-grow: 1;
    min-width: fit-content;
    background-color: #76a4ff;;
    border: 1px solid #76a4ff;
    padding: 6px;
    margin: 4px;
    border-radius: 10px;
    text-decoration-color: white;
}
.ms-chat_butn_container{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border:1px solid black; */
    max-width: 600px;
    width: auto;
}
.ms-mes_container{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 400px;
    border: 2px solid rgb(116, 116, 116);
    border-radius: 10px;
    padding: 5px;
}
.ms-mes_time{
    margin-top: 6px;
    text-align: center;
    color:#686565;
    font-size: small;
}
.ms-hcolor{
    background-color: #f6ece5;
}
.ms-m15{
    margin-top: 15%;
}
.ms-mt100px{
    margin-top: 100px;
}
td{
    width:15%;
}
/* input{
    width: 100%;
} */
textarea{
    width: 100%;
    height: 100%;
}
header{
    background-color: #f6ece5;
    height: 100px;
    width: 100%;
    min-width: 1070px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    border-bottom: 1px solid white;
}
#lname{
    font-family: 'Bad Script', cursive;
    font-size: 30px;
}
#fname{
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
}
#menu{
    height: 25px;
    width: 25px;
    margin-right: 2%;
}
#headerName{
    font-size: 25px;
    margin: 0 10%;
}
.headerProf{
    font-size: 15px;
    margin: 0 10% 1% 10%;
}
#headerNameBlock{
    width: 30%;
    min-width: 75px;
    padding-bottom: 5px;
    box-sizing: border-box;
}
.icon{
    width: 35px;
    height: 35px;
    background-size: cover;
    margin: 0 1vw;
}
.iconInst{
    background-image: url(../img/insta_black.png);
}
.iconTel{
    background-image: url(../img/telegram_black.png);
}
.iconVk{
    background-image: url(../img/vk_black2.png);
}
.iconInst:hover{
    background-image: url(../img/insta_color.png);
}
.iconTel:hover{
    background-image: url(../img/telegram_color.png);
}
.iconVk:hover{
    background-image: url(../img/vk_color2.png);
}
a{
    text-decoration: none;
    color: rgb(68, 68, 68);
    font-size: 20px;
    margin: 0 1vw;
}
a:hover{
    color: black;
}
menu{
    margin: 0 4vw;
    display: flex;
    justify-content:space-between ;
}
section{
    padding: 6vw 1vw 1vw 1vw;
}
.section3{
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: auto;
}
.photo{
    border: 1px solid black;
    border-radius: 5%;
    width: 30%;
    margin: 20px;
    height: auto;
    display: inline-block;
    vertical-align: top;
    min-width: 400px;
    min-height: auto;
}
.sect1Text{
    color: black;
    /* font-size: 1.5em; */
    text-align: center;
    display: inline-block;
    vertical-align: top;
    min-width: 400px;
    width: 60%;
    margin: 20px;
}
main{
    padding-top: 50px;
}
h1{
    text-align: center;   
    font-size: 30px;
}
.prodFont{
    font-family: 'Nunito', sans-serif;
    /* font-size: 12px; */
}
.h3p{
    font-size: 20px;
    margin: 0;
}
.h4p{
    font-size: 16px;
    margin-bottom: 15px;
}
#productsDiv{
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
@media (max-width:1250px){
    #productsDiv{
        /* border: 2px solid red; */
        flex-wrap: wrap;
    }
    .nav-point{
        display:none;
    }
}
.prodDiv{
    min-width: 290px;
    border: 1px solid black;
    /* background-color: rgb(131, 143, 88); */
    border-radius: 5%;
    height: 600px;
    width: 380px;
    display: inline-table;
    overflow: hidden;  
    margin: 2vh 1vw;
    transition: 0.3s;
}
.prodDiv:hover{
    scale: 1.02;
    transition: 0.5s;
}
.modal{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
}
.prodDivBig{
    border: 1px solid black;
    /* background-color: rgb(131, 143, 88); */
    border-radius: 5%;
    height: 90vh;
    width: 60%;
    display: block;
    overflow: auto;  
    position: relative;
    margin: 2vh 1vw;
}
.desc{
    color: white;
    text-align: left;
}
.close{
    color: white;
    font-size: 35px;
    height: auto;
    width: auto;
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
}
.close:hover{
    color: rgb(214, 212, 212);
    scale: 1.2;
}
.prod{
    border-bottom: 1px solid black;
    background-size:cover;
    width: 100%;
    height: 40%;
}
.priceDiv{
    display:flex;
    justify-content: center;
}
.prodPadding{
    padding: 0 0;
}
.extraPadding{
    padding: 0 0;
}
.price{
    border: 2px solid rgb(159, 79, 79);
    border-radius: 10px;
    background-color: rgb(134, 50, 50);
    width: 60%;
    padding: 2px;   
    color:white;
}
.photo1{
    background-image: url(../img/16.jpg);
    background-position:0% 15%;
}
.photo2{
    background-image: url(../img/20.jpg);
    background-position:0% 15%;
}
.photo3{
    background-image: url(../img/33.jpg);
    background-position:0% 30%;
}
.photo4{
    background-image: url(../img/37.jpg);
    background-position:0% 10%;
}
.photo5{
    background-image: url(../img/57.jpg);
    background-position:0% 25%;
}
.prodText{
    /* color:  rgb(200, 213, 152); */
    /* background-color: rgb(131, 143, 88); */
    text-shadow: 1px black;
    /* font-size: 1.2em; */
    text-align: center;
    box-sizing: border-box;
    padding: 5% 10%;
}
.prodText2{
    text-align:left;
}
.prodtext2{
    color: rgb(200, 213, 152);
    font-size: 1.2em;
    text-align: center;
}
.div{
    font-size: 1.5em;
    color:  black;
    text-align: center;
    padding: 0% 30%;
    margin: 2%; 
}
.obomneText{
    width: 40%;
    min-width: 400px;
    font-size: 1.5em;
    color:  black;
    text-align: center;
    /* padding: 0% 30%; */
    margin: 2%; 
    display: inline-block;
}
footer{
    height: 10%;
    background-color:  #f6ece5;
    padding: 5% 10%;
    border-top: 1px solid white;
    overflow-x: hidden;
}
/* #Osebe{
    padding-left: 25%;
} */
.str{
    font-size: 5em;
    font-weight: 900;
    color:rgb(131, 143, 88) ;
    width: 2%;
    height: 100%;
}

.str:hover{
    color:rgb(85, 94, 53) ;
}
.txt-outline{
    -webkit-text-stroke: 1px #00000050;
}
.c1{
    background-color: hsl(76, 30%, 78%);
}
.c1-0{
    background-color: hsl(76, 56%, 86%);
}
.c2{
    background-color: #ede47f;
}
.c3{
    background-color: #93b265;
}
.c3-1{
    background-color: #9fb381;
}
.c3-2{
    background-color: #688937;
}
.c4{
    background-color: #b5b4b2;
}
.c5{
    background-color: rgb(170, 181, 129);
}

.fl{
    float: left;
}
#diplom{
    height: 25%;
    width: 70%;
}
#album{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.otziv{
    border: 2px solid  rgb(62, 62, 62);
    border-radius: 20px;
    width: 25%;
    height: auto;
    font-size: 1.2em;
    color:  black;
    box-shadow: 1px 1px 5px rgb(75, 72, 72);
    box-shadow: -1px -1px 5px rgb(75, 72, 72);
    text-align:justify;
    padding: 2% 1%;
    margin: 2%;
    min-width: 220px;
}
.name{
    text-align: right;
    margin: 15px 5px 5px 5px;
}
.ss{
    font-size: 1.5em;
    font-weight: 100;
    color:  rgb(131, 143, 88);
    margin: 1%;
    text-decoration: none;
}
.ss:hover{
    color:rgb(85, 94, 53) ;
}
#otzivi{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div3{
    font-size: 1.5em;
    color:  black;
    text-align: left;
    padding: 3%;
    margin: 2%; 
}
.div4{
    padding: 1% 10%;
    margin: 0% 5%; 
}
.lastDiv{
    width: 50%;
    display: inline-block;
    vertical-align: top;
}
.cPh1{
    width: 12%;
    height: auto;
    display: inline-block;
    margin: 0% 3%;
}
.cPh2{
    width: 30%;
    height: auto;
    display: inline-block;
}
