.myclass{
    font-size: 22px;
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.myclass1{
    font-size: 30px;
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}